SPOTIFY_CLIENT_ID = 'your spotify client id here' //or use mine if you are as lazy as I would be ;) 3eb0b61f6f374538a7dc85598ff24018
SPOTIFY_CLIENT_SECRET = 'your spotify client secret here' //or use mine if you are as lazy as I would be ;) 674ea95f89e14dfba32da821be254ffc